<div class="w-full p-5 overflow-x-auto select-none">
    <div class="flex flex-wrap gap-3 mb-4" data-search></div>
    <div class="relative">
        <div
            class="p-0.5 rounded-xl bg-gradient-to-r from-[rgb(var(--placeholder-from))] to-[rgb(var(--placeholder-to))] shadow-lg">
            <div
                class="bg-gradient-to-br from-[rgb(var(--body-from))] to-[rgb(var(--body-to))] rounded-xl overflow-hidden">
                <table class="min-w-full text-sm bg-[rgb(var(--body-from))] text-left">
                    <thead id="thead"
                        class="text-xs uppercase select-none bg-[rgb(var(--card-from))] bg-clip-text text-transparent drop-shadow">
                    </thead>
                    <tbody id="tbody" class="divide-y divide-[rgb(var(--placeholder-from))] text-left">
                    </tbody>
                </table>
            </div>
        </div>
        <div data-pagination class="flex items-center justify-end hidden gap-2 mt-4 text-xs"></div>
    </div>
</div>